<div style="display: grid;grid-column: 1/2;grid-row: 2/-1;grid-template-columns: 15px 1fr 15px;width: 100%;grid-template-rows: min-content 1fr;">
    <div style="grid-column: 2/3;grid-row: 2/-1;">
        <h2 class="admin-head"></h2>
        <% if (report.length != 0) { %>
            <div class="admin-block">
                <div class="admin-content">
                    <div class="admin-item" style="grid-column: 1/-1;grid-row: 1/-1;height: 100%;display: grid;grid-auto-flow: row;grid-template-rows: 60px 60px 60px 60px 60px; place-items: center start;padding-left: 20px;">
                        <h2><%= report.title %></h2>
                        <h2><%= report.action %></h2>
                        <% if (report.reportType === 'orderReport') { %><h2><%= username %></h2><% } %>
                        <% var rawDate = report.reportedAt.toString() %>
                        <% var date = `${rawDate.split(' ')[2]} ${rawDate.split(' ')[1]} ${rawDate.split(' ')[3]} ${rawDate.split(' ')[4]}` %>
                        <h2><%= date %></h2>
                        <% if (report.reportType === 'orderReport') { %><a href="/u/message?userId=<%= report.reportedBy %>" type="submit"><img src="/images/icons/message.svg" width="50" height="50" alt=""></a><% } %>
                    </div>
                </div>
            </div>
    </div>
</div>
